{{ $srcRaw := .Get "src" }}
{{ $altText := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $maxWidth := .Get "maxWidth" }}
{{ $hasBorder := .Get "hasBorder" }}
{{ $align := .Get "align" }}
{{ $linkUrl := .Get "linkUrl" }}

{{ $src := "" }}
{{ if hasPrefix $srcRaw "http" }}
  {{ $src = $srcRaw }}
{{ else }}
  {{ $src = ($.Page.Resources.GetMatch $srcRaw).RelPermalink }}
{{ end }}

{{ if $src }}
  <figure
    {{ if $align }}class="align-{{ $align }}"{{ end }}
    {{ if $maxWidth }}style="max-width: {{ $maxWidth }}"{{ end }}
    >
    <a href="{{ if $linkUrl }}{{ $linkUrl }}{{ else }}{{ $src }}{{ end }}">
      <img
        {{ if $hasBorder }}class="img-border"{{ end }}
        src="{{ $src }}" alt="{{$altText}}"/>
    </a>
    <figcaption><p>{{ $caption | markdownify }}</p></figcaption>
  </figure>
{{ else }}
  {{ errorf "failed to find image %s: %s" $srcRaw .Position }}
  could not find image
{{ end }}