{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ $maxWidth := .Get "maxWidth"}}
{{ $hasBorder := .Get "hasBorder"}}
{{ $align := .Get "align" }}
{{ $linkUrl := .Get "linkUrl" }}

{{ with $.Page.Resources.GetMatch (.Get "src") }}
  <figure>
    <a href="{{ if $linkUrl }}{{ $linkUrl }}{{ else }}{{.RelPermalink}}{{ end }}">
      <img
        {{ if $maxWidth }}style="max-width: {{ $maxWidth }}"{{ end }}
        {{ if or ($hasBorder) ($align) }}class="
          {{ if $hasBorder }}img-border{{ end }}
          {{ if $align }}align-{{ $align }}{{ end }}
          "{{ end }}
        src="{{ .RelPermalink }}" alt="{{$altText}}"/>
    </a>
    <figcaption><p>{{ $caption | markdownify }}</p></figcaption>
  </figure>
{{ else }}
  could not find image
{{ end }}